<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.yujiangjun.echovista.common.mapper.QuesContentMapper">
  <resultMap id="BaseResultMap" type="com.cn.yujiangjun.echovista.common.model.QuesContent">
    <!--@mbg.generated-->
    <!--@Table ques_content-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content_id" jdbcType="VARCHAR" property="contentId" />
    <result column="ques_id" jdbcType="INTEGER" property="quesId" />
    <result column="content_item_label" jdbcType="INTEGER" property="contentItemLabel" />
    <result column="content_item_value" jdbcType="VARCHAR" property="contentItemValue" />
    <result column="content_order" jdbcType="INTEGER" property="contentOrder" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, content_id, ques_id, content_item_label, content_item_value, content_order, is_deleted, 
    created_by, created_time, updated_by, updated_time
  </sql>
</mapper>